@import "tailwindcss";

@theme {
  --font-display: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --color-text-50: hsl(0, 0%, 95%);
  --color-text-100: hsl(0, 0%, 90%);
  --color-text-200: hsl(0, 0%, 80%);
  --color-text-300: hsl(0, 0%, 70%);
  --color-text-400: hsl(0, 0%, 60%);
  --color-text-500: hsl(0, 0%, 50%);
  --color-text-600: hsl(0, 0%, 40%);
  --color-text-700: hsl(0, 0%, 30%);
  --color-text-800: hsl(0, 0%, 20%);
  --color-text-900: hsl(0, 0%, 10%);
  --color-text-950: hsl(0, 0%, 5%);

  --color-background-50: hsl(0, 0%, 95%);
  --color-background-100: hsl(0, 0%, 90%);
  --color-background-200: hsl(0, 0%, 80%);
  --color-background-300: hsl(0, 0%, 70%);
  --color-background-400: hsl(0, 0%, 60%);
  --color-background-500: hsl(0, 0%, 50%);
  --color-background-600: hsl(0, 0%, 40%);
  --color-background-700: hsl(0, 0%, 30%);
  --color-background-800: hsl(0, 0%, 20%);
  --color-background-900: hsl(0, 0%, 10%);
  --color-background-950: hsl(0, 0%, 7.5%);

  --color-primary-50: hsl(282, 68%, 95%);
  --color-primary-100: hsl(283, 69%, 90%);
  --color-primary-200: hsl(283, 69%, 80%);
  --color-primary-300: hsl(283, 69%, 70%);
  --color-primary-400: hsl(283, 68%, 60%);
  --color-primary-500: hsl(283, 68%, 50%);
  --color-primary-600: hsl(283, 68%, 40%);
  --color-primary-700: hsl(283, 69%, 30%);
  --color-primary-800: hsl(283, 69%, 20%);
  --color-primary-900: hsl(283, 69%, 10%);
  --color-primary-950: hsl(286, 68%, 5%);

  --color-secondary-50: hsl(318, 77%, 95%);
  --color-secondary-100: hsl(318, 76%, 90%);
  --color-secondary-200: hsl(319, 78%, 80%);
  --color-secondary-300: hsl(319, 78%, 70%);
  --color-secondary-400: hsl(319, 78%, 60%);
  --color-secondary-500: hsl(319, 78%, 50%);
  --color-secondary-600: hsl(319, 78%, 40%);
  --color-secondary-700: hsl(319, 78%, 30%);
  --color-secondary-800: hsl(319, 78%, 20%);
  --color-secondary-900: hsl(318, 76%, 10%);
  --color-secondary-950: hsl(321, 77%, 5%);

  --color-accent-50: hsl(327, 85%, 95%);
  --color-accent-100: hsl(328, 88%, 90%);
  --color-accent-200: hsl(328, 86%, 80%);
  --color-accent-300: hsl(328, 87%, 70%);
  --color-accent-400: hsl(328, 87%, 60%);
  --color-accent-500: hsl(328, 87%, 50%);
  --color-accent-600: hsl(328, 87%, 40%);
  --color-accent-700: hsl(328, 87%, 30%);
  --color-accent-800: hsl(328, 86%, 20%);
  --color-accent-900: hsl(328, 88%, 10%);
  --color-accent-950: hsl(330, 85%, 5%);

  --top-index: 5;
}

body {
  @apply bg-background-900;
}

site-container {
  @apply relative;
  @apply flex justify-center items-start flex-col;
  @apply max-w-[1280px] w-auto;
  @apply m-auto;
  @apply h-screen;
  @apply py-8;
}

the-fog {
  @apply absolute;
  @apply shadow-2xl shadow-primary-400/50;
  @apply rounded-xl;

  height: inherit;
  width: inherit;

  --tw-shadow: -10px 0px 25px 5px var(--tw-shadow-color, rgb(0 0 0 / 0.25));

  z-index: -1;
}

nav#main-nav {
  @apply fixed;
  @apply flex justify-start items-start;
  @apply w-60 h-screen;
  @apply py-8;

  z-index: 2;

  the-fog {
    height: calc(100% - 4rem);
  }

  .menu-content {
    @apply flex justify-start items-start flex-col grow;
    @apply gap-10;
    @apply h-full;
    @apply border-primary-500/90 border border-solid rounded-lg;
    @apply py-4 px-5;

    @apply bg-background-950;

    max-width: 360px;
  }

  .logo {
    @apply relative;
    @apply flex justify-start items-start;
    @apply overflow-visible;
    @apply w-full;

    .avatar {
      @apply relative;

      @apply h-12;
      @apply w-auto;
      @apply object-cover;
      @apply border-3 border-solid border-primary-500/90 rounded-full;

      z-index: 2;
    }

    .decoration {
      @apply absolute;
      @apply -top-1.5 -left-2;
      @apply h-14;

      z-index: 3;
    }

    .background-decoration {
      @apply absolute;
      @apply -top-2.5 -left-3;
      @apply h-18 w-18;
      @apply rounded-full;

      z-index: 1;

      filter {
        @apply absolute;
        @apply h-18 w-18;

        box-shadow: 0 0 15px 8px var(--color-background-900) inset;

        z-index: 2;
      }

      img {
        z-index: 1;
      }
    }

    span {
      @apply flex;
      @apply overflow-hidden;

      img {
        @apply h-full;
        @apply w-auto;
        @apply object-cover;
      }
    }
  }

  .search-bar input {
    &::placeholder {
      @apply text-white;
    }

    &[value=""] {
      @apply text-white;
    }
  }
}

.super-giga-folders {
  @apply flex flex-col grow;
  @apply gap-3.5;
  @apply w-full;

  .super-giga-folder {
    @apply flex flex-col;

    > div:not(.super-giga-folder) {
      @apply relative;
      @apply flex;
      @apply grow;
      @apply border border-solid border-primary-500/90 rounded-bl-md rounded-tr-md;
      @apply pl-4 pt-2 pb-2.5;
      @apply transition-all duration-100;

      &:hover {
        @apply cursor-pointer;
        @apply shadow-primary-600/50;

        box-shadow: 0 0 15px 0px var(--tw-shadow-color) inset;
      }
    }

    > .super-giga-folder {
      @apply flex-row;
      @apply mt-2;

      > div:not(.super-giga-folder) {
        @apply border-primary-400/90;

        > fancy-borders {
          & > div {
            &::after {
              @apply border-b-primary-400/90;
            }
          }
        }
      }

      &::before {
        content: "";

        @apply border-l-primary-400/30 border-b-primary-400/30 border-t-0 border-r-0 border-2 border-solid;
        @apply flex;
        @apply w-3 h-[50%];
        @apply ml-3 mr-1.5;
      }
    }
  }

  fancy-borders {
    @apply absolute top-0 left-0;
    @apply flex w-full h-full;
    @apply border-inherit border-0;

    z-index: 1;

    & > div {
      @apply absolute;
      @apply flex h-3 w-3;
      @apply border-inherit border-0;

      &::before {
        @apply absolute;
        content: "";

        height: inherit;
        width: inherit;
        @apply bg-background-950;

        z-index: 2;
      }
    }

    & > div:nth-child(1) {
      @apply bottom-0 left-0;

      &::before {
        @apply -bottom-[58%] -left-[58%];
        @apply rotate-[45deg];
        @apply border-t-inherit border-t-1 border-l-1 border-r-1 border-l-transparent border-r-transparent;
      }
    }

    & > div:nth-child(2) {
      @apply absolute top-0 right-0;

      &::before {
        @apply -top-[58%] -right-[58%];
        @apply -rotate-[135deg];
        @apply border-t-inherit border-t-1 border-l-1 border-r-1 border-l-transparent border-r-transparent;
      }
    }
  }

  a {
    @apply text-white;
  }
}

main {
  @apply relative;
  @apply flex justify-center items-center flex-col;
  @apply h-full w-full;
  @apply pl-64;

  z-index: 1;

  main-content {
    @apply relative;
    @apply flex justify-center items-center grow;
    @apply border border-primary-500/90 rounded-lg;

    @apply h-full w-full min-h-full;

    @apply bg-background-950;

    the-fog {
      --tw-shadow: 10px 0px 25px 5px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
    }
  }
}
