<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{ get_url(path='assets/img/solzinho.jpg')
    }}"" type="image/jpg" />

    <title>{{ config.title }}</title>

    <meta name="description" content="{{ config.description }}" />

    <link
      type="text/css"
      rel="stylesheet"
      href="{{ get_url(path='tailwind/style.css') }}"
      media="(prefers-color-scheme: light)"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ get_url(path='tailwind/style.css') }}"
      media="(prefers-color-scheme: dark)"
    />
  </head>
  <body>
    {% block navigation %}
    <!-- -->
    {% include "components/nav.html" -%}
    <!-- -->
    {% endblock navigation %}
    <!-- -->
    <main>{% block content %} {% endblock content %}</main>
    <!-- -->
    {% block footer %} {% endblock footer %}

    <script
      type="module"
      src="{{ get_url(path='scripts/scripts.js') }}"
    ></script>
  </body>
</html>
