<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{
    get_url(path='assets/img/solzinho-zoom.jpg') }}"" type="image/jpg" />

    <!-- -->
    {% if section.title %}
    <title>{{ section.title }}</title>
    <meta name="description" content="{{ section.description }}" />
    {% endif %}

    <!-- -->
    {% if page.title %}
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    {% endif %}

    <link
      type="text/css"
      rel="stylesheet"
      href="{{ get_url(path='tailwind/style.css') }}"
      media="(prefers-color-scheme: light)"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ get_url(path='tailwind/style.css') }}"
      media="(prefers-color-scheme: dark)"
    />
  </head>
  <body hx-boost hx-preserve>
    <site-container>
      {% block navigation %}
      <!-- -->
      {% include "components/nav.html" -%}
      <!-- -->
      {% endblock navigation %}
      <!-- -->
      <main>
        <main-content>
          <the-fog>
            <layer></layer>
            <layer></layer>
            <layer></layer>
          </the-fog>
          {% block page %} {% endblock page %}
        </main-content>
      </main>
      <!-- -->
      {% block footer %} {% endblock footer %}
    </site-container>
    <script
      type="module"
      src="{{ get_url(path='scripts/htmx.min.js') }}"
    ></script>
    <script
      type="module"
      src="{{ get_url(path='scripts/idiomorph-ext.min.js') }}"
    ></script>
    <script
      type="module"
      src="{{ get_url(path='scripts/scripts.js') }}"
    ></script>
  </body>
</html>
