<nav id="main-nav">
  <div class="menu-content">
    <the-fog>
      <layer></layer>
      <layer></layer>
      <layer></layer>
    </the-fog>
    <div class="logo">
      <a
        href="/"
        hx-get="/"
        hx-select="#content"
        hx-swap="innerHTML"
        hx-target="#content"
      >
        <span class="avatar">
          <img
            class=""
            src="{{ get_url(path='assets/img/solzinho-zoom.jpg') }}"
            alt="Solzinho"
          />
        </span>
        <span class="decoration">
          <img
            class=""
            src="{{ get_url(path='assets/img/decoration_animated.png') }}"
            alt="A little hat I stole from Discord teehee"
          />
        </span>
        <span class="background-decoration">
          <filter></filter>
          <img
            class=""
            src="{{ get_url(path='assets/img/gold_light.gif') }}"
            alt="Sunny light vfx"
          />
        </span>
      </a>
    </div>
    <ul class="super-giga-folders">
      <li class="super-giga-folder">
        <div>
          <fancy-borders>
            <div></div>
            <div></div>
          </fancy-borders>
          <a
            href="/"
            hx-get="/"
            hx-select="#content"
            hx-swap="innerHTML"
            hx-target="#content"
            >Sol's Rest</a
          >
        </div>
      </li>
      <li class="super-giga-folder">
        <div>
          <fancy-borders>
            <div></div>
            <div></div>
          </fancy-borders>
          <a
            href="/albedo"
            hx-get="/albedo"
            hx-select="#content"
            hx-swap="innerHTML"
            hx-target="#content"
            >Albedo</a
          >
        </div>
      </li>
      <li class="super-giga-folder">
        <div>
          <fancy-borders>
            <div></div>
            <div></div>
          </fancy-borders>
          <a
            href="/citrinitas"
            hx-get="/citrinitas"
            hx-select="#content"
            hx-swap="innerHTML"
            hx-target="#content"
            >Citrinitas</a
          >
        </div>

        <div class="super-giga-folder">
          <div>
            <fancy-borders>
              <div></div>
              <div></div>
            </fancy-borders>
            <a
              href="/citrinitas/sun-gallery"
              hx-get="/citrinitas/sun-gallery"
              hx-select="#content"
              hx-swap="innerHTML"
              hx-target="#content"
              >Sun's Gallery</a
            >
          </div>
        </div>
      </li>
      <li class="super-giga-folder">
        <div>
          <fancy-borders>
            <div></div>
            <div></div>
          </fancy-borders>
          <a
            href="/nigredo"
            hx-get="/nigredo"
            hx-select="#content"
            hx-swap="innerHTML"
            hx-target="#content"
            >Nigredo</a
          >
        </div>
      </li>
      <li class="super-giga-folder">
        <div>
          <fancy-borders>
            <div></div>
            <div></div>
          </fancy-borders>
          <a
            href="/rubedo"
            hx-get="/rubedo"
            hx-select="#content"
            hx-swap="innerHTML"
            hx-target="#content"
            >Rubedo</a
          >
        </div>
      </li>
    </ul>
    <div class="search-bar">
      <input type="text" placeholder="Search..." value="" />
    </div>
  </div>
</nav>
