<nav id="main-nav">
  <the-fog></the-fog>
  <div class="menu-content">
    <div class="logo">
      <a href="#home">
        <span class="avatar">
          <img
            class=""
            src="{{ get_url(path='assets/img/solzinho-zoom.jpg') }}"
            alt="Solzinho"
          />
        </span>
        <span class="decoration">
          <img
            class=""
            src="{{ get_url(path='assets/img/decoration_animated.png') }}"
            alt="A little hat I stole from Discord teehee"
          />
        </span>
        <span class="background-decoration">
          <filter></filter>
          <img
            class=""
            src="{{ get_url(path='assets/img/gold_light.gif') }}"
            alt="Sunny light vfx"
          />
        </span>
      </a>
    </div>
    <ul class="super-giga-folders">
      <li class="super-giga-folder">
        <div>
          <fancy-borders>
            <div></div>
            <div></div>
          </fancy-borders>
          <a href="#about">Sol's Rest</a>
        </div>

        <div class="super-giga-folder">
          <div>
            <fancy-borders>
              <div></div>
              <div></div>
            </fancy-borders>
            <a href="#about">The gods</a>
          </div>
        </div>
        <div class="super-giga-folder">
          <div>
            <fancy-borders>
              <div></div>
              <div></div>
            </fancy-borders>
            <a href="#about">Abandoned me</a>
          </div>
        </div>
      </li>
      <li class="super-giga-folder">
        <div>
          <fancy-borders>
            <div></div>
            <div></div>
          </fancy-borders>
          <a href="#services">Library</a>
        </div>
      </li>
      <li class="super-giga-folder">
        <div>
          <fancy-borders>
            <div></div>
            <div></div>
          </fancy-borders>
          <a href="#contact">Thoughts</a>
        </div>
      </li>
      <li class="super-giga-folder">
        <div>
          <fancy-borders>
            <div></div>
            <div></div>
          </fancy-borders>
          <a href="#contact">Collections</a>
        </div>
      </li>
    </ul>
    <div class="search-bar">
      <input type="text" placeholder="Search..." value="" />
    </div>
  </div>
</nav>
